@font-face{
    font-family: Hero;
    src: url("Hero-Regular.ttf");
}

@font-face{
    font-family: Hero-Bold;
    src: url("Hero-Bold.ttf");
}

body{
    margin: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: white;
}

.menu{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 100px;
    font-size: 18px;
    font-family: 'Hero';
}

.logo{
    margin-left: 100px;
    margin-right: auto;
    font-size: 24px;
    font-family: 'Hero-Bold';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.body{
    display: flex;
    justify-content: center;
    padding: 75px;
    gap: 50px;
    background-color: #1F2937;
}

.awesome{
    display: flex;
    flex-direction: column;
    max-width: 475px;
}

.awesome-text{
    font-family: 'Hero-Bold';
    color: #F9FAF8;
    font-size: 48px;
    max-width: 350px;
}

.subtext{
    color: #E5E7EB;
    font-family: 'Hero';
    font-size: 18px;
    margin-top: -25px;
}

.sign-up{
    max-width: 95px;
    border-radius: 8px;
    padding: 5px 18px;
    border: none;
    background-color: #3882F6;
    font-weight: bold;
    color: white;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    color: white;
    padding: 80px 100px;
    background-color: #b2b2b2;
}