@font-face{
    font-family: Hero;
    src: url("Hero-Regular.ttf");
}

@font-face{
    font-family: Hero-Bold;
    src: url("Hero-Bold.ttf");
}

body{
    margin: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: white;
}

.menu{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 100px;
    font-size: 18px;
    font-family: 'Hero';
}

.logo{
    margin-left: 100px;
    margin-right: auto;
    font-size: 24px;
    font-family: 'Hero-Bold';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.body{
    display: flex;
    justify-content: center;
    padding: 75px;
    gap: 50px;
    background-color: #1F2937;
}

.awesome{
    display: flex;
    flex-direction: column;
    max-width: 475px;
}

.awesome-text{
    font-family: 'Hero-Bold';
    color: #F9FAF8;
    font-size: 48px;
    max-width: 350px;
}

.subtext{
    color: #E5E7EB;
    font-family: 'Arial';
    font-size: 18px;
    margin-top: -25px;
}

.sign-up{
    max-width: 95px;
    border-radius: 8px;
    padding: 5px 18px;
    border: none;
    background-color: #3882F6;
    font-weight: bold;
    color: white;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    color: white;
    padding: 80px 100px;
    background-color: #b2b2b2;
}

.random-title{
    margin: 36px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-family: 'Hero-Bold';
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px
}

.section-one{
    padding-bottom: 100px;
}

.sub-container img{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 100px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.random-text{
    text-align: center;
    max-width: 175px;
    font-size: 18px;
    font-family: 'Hero';
    color: #d0d1d3;
}

.section-quote{
    background-color: #E5E7EB;
    padding: 100px 305px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-family: 'Hero';
    font-style: italic;
}

.from{
    align-self: flex-end;
    font-family: 'Arial';
    font-weight: bold;
}

.ad-container{
    display: flex;
    padding: 50px;
    justify-content: center;
    color: white;
}

.advertisement{
    display: flex;
    background-color: #3882F6;
    padding: 35px 75px;
    gap: 75px;
    border-radius: 5px;
}

.ad-text{
    font-family: 'Arial';
    color: #E5E7EB;
}

.text-one{
    font-weight: bold;
    color: white;
}

.ad-sign-up{
    background-color: #3882F6;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 15px;
    max-height: 35px;
    flex-shrink: 0;
    color: white;
}

.footer{
    display: flex;
    background-color: #1F2937;
    padding: 25px;
    color: white;
    font-family: Arial;
    justify-content: center;
    align-items: center;
}